.main {
  width: 100%;
  padding-bottom: 30px;
  flex: 1 1;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__set-up-game {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  &__last-record {
    display: flex;
    position: relative;
    flex: 33%;
    padding: 0px 10px 0 10px;
    flex-direction: column;
    align-items: center;
  }

  &__selected-status {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    padding: 10px 0;

    .status {
      &__sign {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__digit {
        padding: 0 10px;
        display: flex;
        width: 200px;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__number-of-digits {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
    flex: 23%;

    .number-of-digits {
      &__title {
        margin: 0;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
      }

      &__item {
        display: flex;
        width: 130px;
        justify-content: center;
        margin-bottom: 10px;
        &:hover {
          cursor: pointer;
        }
      }

      &__item-active {
        outline: 4px solid;
        position: relative;

        ::before {
          content: '';
          position: absolute;
          width: 50px;
          height: 50px;
          background-image: url('../../assets/arrow-down.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          top: -6px;
          left: -46px;
          transform: rotate(-90deg);
        }

        ::after {
          content: '';
          position: absolute;
          width: 50px;
          height: 50px;
          background-image: url('../../assets/arrow-down.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          top: -6px;
          right: -46px;
          transform: rotate(90deg);
        }
      }

      &__digit {
        height: 30px;
        width: 30px;
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: #66bb6a;
        border: 2px solid;
        margin: 5px;
      }
    }
  }

  &__play-game {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    .play-game {
      &__start {
        background-color: #66bb6a;
        display: flex;
        width: 200px;
        height: 40px;
        border-radius: 5px;
        font-size: 1.5rem;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
          background-color: #338a3e;
        }

        &:focus {
          outline: none;
        }
      }

      &__start-link {
        text-decoration: none;
      }
    }
  }
}
.choice-of-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 33%;

  &__title {
    margin: 0;
    font-size: 2rem;
  }

  &__btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }

  &__select-sign {
    display: flex;
    width: 200px;
    height: 200px;
    flex-wrap: wrap;
    transition: transform 0.3s ease-in;
    font-size: 3rem;
    border: 2px solid;
    border-radius: 50%;
    background: #66bb6a;
  }

  &__sign {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
  }
}

@media (max-width: 800px) {
  .choice-of-sign__select-sign {
    width: 150px;
    height: 150px;
  }

  .choice-of-sign__sign {
    width: calc(150px / 2);
    height: calc(150px / 2);
  }

  .choice-of-sign__btn {
    width: 30px;
    height: 30px;
  }

  .choice-of-sign__title {
    font-size: 1.5rem;
  }

  .main__number-of-digits {
    .number-of-digits {
      &__title {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 600px) {
  .choice-of-sign__select-sign {
    width: 100px;
    height: 100px;
  }

  .choice-of-sign__sign {
    width: calc(100px / 2);
    height: calc(100px / 2);
  }

  .choice-of-sign__btn {
    width: 20px;
    height: 20px;
  }

  .choice-of-sign__title {
    font-size: 1.2rem;
  }

  .number-of-digits {
    &__title {
      font-size: 1.2rem;
    }
  }

  .main__number-of-digits .number-of-digits__item {
    width: 100px;
    margin-bottom: 5px;
  }

  .main__number-of-digits .number-of-digits__digit {
    height: 20px;
    width: 20px;
  }
}
