.main {
  &__number-of-digits {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 33%;
    height: 100%;

    .number-of-digits {
      &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &__title {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        text-align: center;
        color: var(--font-color-dark);

        @media (max-width: 750px) {
          padding-bottom: 10px;
        }
      }

      &__item {
        display: flex;
        width: 130px;
        justify-content: center;
        margin-bottom: 10px;
        transition: all 0.05s ease;
        outline: 2px solid transparent;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--font-color-dark);

        &:hover {
          cursor: pointer;
        }
      }

      &__item-active {
        outline: 2px solid var(--font-color-dark);
        position: relative;

        ::after,
        ::before {
          content: '';
          position: absolute;
          width: 35px;
          height: 35px;
        }

        ::before {
          background-image: url('../../assets/arrow-down.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          top: 6px;
          left: -36px;
          transform: rotate(-90deg);
        }

        ::after {
          background-image: url('../../assets/arrow-down.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          top: 6px;
          right: -36px;
          transform: rotate(90deg);
        }
      }

      &__digit {
        height: 30px;
        width: 30px;
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: #66bb6a;
        border: 2px solid;
        margin: 5px;
      }
    }
  }
}
